{% extends 'car_dealer/base.html' %}
{% block content %}
<div class="w3-bar w3-black w3-large">
  <div class="w3-bar-item w3-left w3-black">Admin: {{user.username}}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/car_dealer_portal/logout/">Logout</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right " href="/car_dealer_portal/auth/">Home</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/car_dealer_portal/order_list/">Application</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/car_dealer_portal/manage_vehicles/">Transport</a>
  <div class="w3-bar-item w3-black w3-right" href="/car_dealer_portal/history/">Trip_Revenue: {{wallet}} Taka</div>
</div>
<h3 class="w3-center" style="padding-top:30"><b>Trip History</b></h3>
<div style="padding: 30px; height: 500px;">
<table class="w3-table w3-striped w3-center">
 
  <tr>
    <th>Name </th>
    <th>Rent </th>
    <th>Days </th>
    <th>Seat</th>
    <th>Reserved Date</th>
    <th>Driver Name</th>
    <th>Driver Contact Number</th>
  
  </tr>
  {% for order in order_list %}
  <tr>
    <td>{{order.vehicle.car_name}}</td>
    <td>{{order.rent}} Taka</td>
    <td>{{order.days}}</td>
    <td>{{order.vehicle.capacity}}</td>
    <td>{{order.reservation_date}}</td>
    <td>{{order.vehicle.driver_name}}</td>
    <td>{{order.vehicle.driver_contact}}</td>
    <td>
      <form action = "/car_dealer_portal/complete/" method="post">
        {% csrf_token %}
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
</div>
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Component</title>
    <style>
      .footer-container {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px 0;
      }
  
      .footer-content {
        max-width: 800px;
        margin: 0 auto;
      }
  
      .university-info {
        font-size: 16px;
      }
  
      .contact-info {
        font-size: 14px;
      }
  
      .copyright {
        font-size: 14px;
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <footer class="footer-container">
      <div class="footer-content">
        <p class="university-info">
          Jahangirnagar University, Savar, Dhaka-1342, Bangladesh
        </p>
        <p class="contact-info">
          Telephone: PABX: 02224491045-51, Fax: 02224491052
        </p>
        <p class="copyright">
          &copy; 2024 Jahangirnagar University
        </p>
      </div>
    </footer>
  </body>
  </html>
{% endblock %}
